* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product-buttons {
  margin-top: 24px;
}
.product-buttons Button {
  display: block;
  margin: 0 auto;
  background-color: #001e28;
  color: white;
  box-shadow: 0 0 5px #001e28;
  transition: all 0.5s;
  border: none;
}
.product-buttons Button:hover {
  color: black;
}
.quantity-minus {
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.5s;
}
.quantity-minus:hover {
  filter: drop-shadow(0 0 2px #001e28);
  color: white;
}

.quantity-plus {
  margin-left: 8px;
  cursor: pointer;
  transition: all 0.5s;
}
.quantity-plus:hover {
  filter: drop-shadow(0 0 2px #001e28);
  color: white;
}

.quantity {
  font-size: 20px;
  vertical-align: bottom;
}
.remove-product-from-cart {
  cursor: pointer;
  transition: all 0.5s;
}
.remove-product-from-cart:hover {
  color: red;
}
.loading {
  text-align: center;
  letter-spacing: 1.3px;
  color: #001e28;
  position: absolute;
  left: 50%;
  top: 50%;
}
.edit-product {
  margin-left: 24px;
  transition: all 0.5s;
}
.edit-product:hover {
  color: green;
  cursor: pointer;
}
.add-new {
  display: block !important;
  margin-bottom: 16px !important;
  background-color: #001e28 !important;
  color: white !important;
  box-shadow: 0 0 5px #001e28 !important;
  transition: all 0.5s !important;
  border: none !important;
}
.add-new:hover {
  background-color: white !important;
  color: #001e28 !important;
}
.add-btn {
  display: block !important;
  margin-bottom: 16px !important;
  background-color: #001e28 !important;
  color: white !important;
  box-shadow: 0 0 5px #001e28 !important;
  transition: all 0.5s !important;
  border: none !important;
  width: 100px;
}
.add-btn:hover {
  background-color: white !important;
  color: #001e28 !important;
}
.category {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
.category-box {
  margin: 0 32px;
  cursor: pointer;
  padding: 8px;
}
.category-selected {
  box-shadow: 0 0 5px #afafaf;
  border-radius: 5px;
}
.category-name {
  letter-spacing: 1.3px;
  text-transform: capitalize;
}
.search {
  width: 50% !important;
  align-items: flex-end;
  padding: 8px;
  margin-bottom: 16px;
  margin-right: 0px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.discount {
  border: none;
  outline: none;
  padding-left: 8px;
}
.discount:focus {
  border-bottom: 2px solid #001e28;
}
.total {
  border-top: 2px dashed #001e28;
}
.total h2 {
  margin-top: 8px;
}
